{{!-- TO DO

	NEED TO MAKE IT COMPATABLE WITH SMALLER SCREENS

 --}}


<div>
	<div class="container postboard_container">
		<div class="row">
			<div class="col-md-3 left-sidebar">
				<ul>
					<li>
						<div class="input-group search-bar">
							<input type="text" class="form-control" placeholder="Search" aria-label="Search Bar">
								<span class="input-group-btn">
						        	<button class="btn btn-default" type="button">
						        		<span class="glyphicon glyphicon-search"></span>
						        	</button>
						      </span>
							</span>
						</div>
					</li>
				</ul>
				<ul class="nav nav-pills nav-stacked">
					{{!-- {{#if page_names.length}}
						{{#each term in page_names}}
							<li {{action "sidebarPageClick" term}}><a href="#">{{term}}</a></li>
						{{/each}}
					{{/if}} --}}
					<li {{action "sidebarPageClick" "postboard"}}><a href="#">Postboard</a></li>
					<li {{action "sidebarPageClick" "saved jobs"}}><a href="#">Saved Jobs</a></li>
					<li {{action "sidebarPageClick" "submit a post"}} class="active"><a href="#">Submit a Post</a></li>
				</ul>
			</div>
			<div class="col-md-9 submit-job-group">
				<h2 class="submit-job-title">Submit a Job</h2>

				<div class="submission-field">
					<div class="input-group input-group-lg pull-right">
						{{input type="text" class="form-control" placeholder="Company" valueBinding="controller.submitCompanyName"}}
					</div>

					<div class="input-group input-group-lg">
						{{input type="text" class="form-control" placeholder="Job Title" valueBinding="controller.submitJobTitle"}}
					</div>

					<div class="input-group input-group-lg pull-right">
						{{input type="text" class="form-control" placeholder="Contact email" valueBinding="controller.submitEmail"}}
					</div>

					<div class="input-group input-group-lg desc-input">
						{{textarea class="form-control" placeholder="Short description" valueBinding="controller.submitDescription"}}
					</div>

					<div class="alert alert-danger hidden" id="danger-fields" role="alert">
						<b>Whoops!</b> Some fields were not filled out.
					</div>
					<div class="alert alert-danger hidden" id="danger-email" role="alert">
						Please use a valid email address.
					</div>

					<div class="prereq-submit-job">
						<ul class="list-group">
							<li class="item-1">
								<div class="input-group">
									{{input type="text" class="form-control" valueBinding="prereq-1" placeholder="Prerequisite"}}
									<button type="button" class="btn btn-default button-remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button {{action "addPrereq" "1"}} type="button" class="btn btn-default button-plus">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</li>
							<li class="item-2 hidden">
								<div class="input-group">
									{{input type="text" class="form-control" valueBinding="prereq-2" placeholder="Prerequisite"}}
									<button {{action "removePrereq" "2"}} type="button" class="btn btn-default button-remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button {{action "addPrereq" "2"}} type="button" class="btn btn-default button-plus">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</li>
							<li class="item-3 hidden">
								<div class="input-group">
									{{input type="text" class="form-control" valueBinding="prereq-3" placeholder="Prerequisite"}}
									<button {{action "removePrereq" "3"}} type="button" class="btn btn-default button-remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button {{action "addPrereq" "3"}} type="button" class="btn btn-default button-plus">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</li>
							<li class="item-4 hidden">
								<div class="input-group">
									{{input type="text" class="form-control" valueBinding="prereq-4" placeholder="Prerequisite"}}
									<button {{action "removePrereq" "4"}} type="button" class="btn btn-default button-remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button {{action "addPrereq" "4"}} type="button" class="btn btn-default button-plus">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</li>
							<li class="item-5 hidden">
								<div class="input-group">
									{{input type="text" class="form-control" valueBinding="prereq-5" placeholder="Prerequisite"}}
									<button {{action "removePrereq" "5"}} type="button" class="btn btn-default button-remove">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
									<button type="button" class="btn btn-default button-plus">
										<span class="glyphicon glyphicon-plus"></span>
									</button>
								</div>
							</li>
						</ul>
					</div>

					<div class="button-grid well flex-box-model">
						{{!-- <div class="row"> --}}
							<div class="school-group box box1">
								{{#each school in schools}}
									<label>
										<input type="checkbox" {{bind-attr id="school.id"}}>  {{school.name}}</label>
								{{/each}}
								<div class="alert alert-danger hidden" id="danger-school" role="alert">
									Please choose at least one school.
								</div>
							</div>

							<div class="box box2"></div>

							<div class="type-group box box2">
								<div class="btn-group" data-toggle="buttons">
							        <label class="btn btn-default">
							            <input type="radio" name="year" value="Full-time" id="full">Full-time
							        </label>
							        <label class="btn btn-default active">
							            <input type="radio" name="year" value="Internship" id="intern" checked="">Internship
							        </label>
							    </div>
								<div class="alert alert-danger hidden" id="danger-type" role="alert">
									Please choose full-time or internship.
								</div>
							</div>
						{{!-- </div> --}}
					</div>

					
				</div>

				<div>
					<div class="alert alert-success hidden" id="success-submit" role="alert">
						Post created!
					</div>
					<button {{action "job_submit" schools}} type="button" class="btn btn-lg btn-login">Login</button>
				</div>
			</div>
		</div>
	</div>
</div>